// Nova Tool CSS
.documentation-content {

  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre {
    margin-bottom: 14px;
  }

  a {
    color: var(--primary);

    &:hover {
      color: var(--primary-dark);
    }
  }

  hr {
    height: 1px;
    background-color: #838383;
    margin: 20px 0;
  }

  blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
  }
}