// Nova Tool CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .doc-w-2\/5 {
    width: 40%;
  }
  .doc-w-3\/5 {
    width: 60%;
  }
  .doc-w-4\/5 {
    width: 80%;
  }
  .doc-mr-2 {
    margin-right: 0.5rem;
  }
  .doc-mr-3 {
    margin-right: 0.75rem;
  }
}

/* purgecss start ignore */
.documentation-content {

  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre {
    margin-bottom: 14px;
  }

  a {
    color: var(--primary);

    &:hover {
      color: var(--primary-dark);
    }
  }

  hr {
    height: 1px;
    background-color: #838383;
    margin: 20px 0;
  }

  blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
  }  
  table {
    border-collapse: collapse;
    border-radius: .5rem;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--60);

    th {
      text-align: left;
      text-transform: uppercase;
      letter-spacing: .05em;
      font-size: .75rem;
      color: var(--80);
      background: var(--30);

      &:first-child {
        border-top-left-radius: .5rem;
      }

      &:last-child {
        border-top-right-radius: .5rem;
      }
    }

    td {
      color: var(--90);
      font-size: .875rem;
    }

    th, td {
      border: 1px solid var(--50);
      padding: .75rem;
    }
  }
}
/* purgecss end ignore */
